<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
	<link rel="icon" type="image/png" href="img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><%= siteTitle %></title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<!--     Fonts and icons     -->
	<link type="text/css" rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css">

	<!-- CSS Files -->
    <link type="text/css" rel="stylesheet"  href="/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet"  href="/css/gsdk-bootstrap-wizard.css"/>

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link type="text/css" rel="stylesheet"  href="/css/demo.css"/>

	<link type="text/css" rel="stylesheet" href="/css/carousel.css" />
    <link type="text/css" rel="stylesheet" href="/css/profile_css.css">   
    
    <style>    	
		ul {
		    list-style-type: none;
		    margin: 0;
		    padding: 0;
		    overflow: hidden;
		    background-color: #fff;
		    color:black;
		}
		
		li {
		    float: left; 
		    display :block;
		    float:left; 		    
		}
		
		li a {
		    display: block;
		    color: black;
		    text-align: center;
		    padding: 16px;
		    text-decoration: none;
		}
		
		a:hover {
		    background-color: #393939;
		     color:#fff;
		}
		
		.li_style{
		    background-color : #393939;
		    color:#fff;
		}
		
		.div_active{
			display:inline;
		}
		
		.div_unactive{
			display:none;
		}
		
		.div_active1{
			display:flex;
		}
		 
	</style>
</head>

<body> 
		
<nav class="navbar navbar-default">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img src="/images/MUN_Logo_RGB.png" alt="Logo" /></a>				
			</div>
 
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<!--<li ><a href="http://localhost:58005/en/#contact">FACULTY & STAFF</a></li>
					<li><a href="http://localhost:58005/en/#contact">ALUMNI</a></li>-->
					<li><a href="login">SignIn</a></li>
					<li><a href="signup">SignUp</a></li>
				</ul>

			</div> 
		</div> 
	</nav>
<div style="height:10px">&nbsp;</div>
<section id="social" class="social" style="background-color:#393939;color: #fff;">
            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="social-wrapper">
                        <div class="col-md-10">
                            <div class="social-icon">
                               NEWFOUNDLAND AND LABRADOR’S UNIVERSITY (Graduate Recruitment System)
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="social-contact">
                               &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>     
</section>

<div style="border-bottom:1px solid #393939;">
    <div class="container">
        <div class="row">
        	<div class="col-sm-12">        		
        		<ul id="header">
				  <li style="border-left:1px solid #393939;width:25%;" id="Tab1"><a href="javascript:void(0)">About</a></li>
				  <li style="border-left:1px solid #393939;width:25%;" id="Tab2"><a href="javascript:void(0)">Reserach</a></li>
				  <li style="border-left:1px solid #393939;width:25%;" id="Tab3"><a href="Project.html">Create New Reserach Project</a></li>
				  <li style="border-left:1px solid #393939;border-right:1px solid #393939;width:25%;" id="Tab4"><a href="javascript:void(0)">Contact Us</a></li>
				</ul>
        	</div>
        </div>
        <div class="row1">
                    
        </div>
    </div>
</div>

<div class="image-container set-full-height" style="background-image: url(/images/large.jpg);" id="tab11">    
    <!--   Big container   -->
    <div class="container">
        &nbsp;
    </div>
</div>

<div class="container">
        <div class="row div_active" id="tab1">
        	<div class="col-sm-12">        		
        		<h1 style="text-align: center;"><%= underConstruction %></h1>
        	</div>
        </div>
        <div class="row div_unactive" id="tab2">
        	<div class="col-sm-12">        		
        		<h1 style="text-align: center;"><%= underConstruction %></h1>
        	</div>
        </div>
        <div class="row div_unactive" id="tab3">
        	<div class="col-sm-12">        		
        		<h1 style="text-align: center;"><%= underConstruction %></h1>
        	</div>
        </div>
        <div class="row div_unactive" id="tab4">
        	<div class="col-sm-12">        		
        		<h1 style="text-align: center;"><%= underConstruction %></h1>
        	</div>
        </div>
</div>
    
<section id="footer" style="background: #ffb81c;">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-6">
                        <div class="copyright" style="color:#fff;text-align:left;">
                            <p>@ 2018 - Memorial University <span><a href="">&#9798;</a></span></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="designer">
                             &nbsp;
                        </div>
                    </div>
                </div> 
            </div> 
</section> 
		
</body>

	<!--   Core JS Files   --> 
	<script src="/js/jquery-2.2.4.min.js" type="text/javascript"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/js/jquery.bootstrap.wizard.js" type="text/javascript"></script> 
	<script src="/js/gsdk-bootstrap-wizard.js"></script> 
	<script src="/js/jquery.validate.min.js"></script>
	
	<script>
	$(document).ready(function(){
		$('li > a').click(function() {
		    $('li').removeClass();
		    $(this).parent().addClass('li_style');
		});
		
		$('#Tab1').click(function() {
		    $('#tab1').addClass("div_active");
		    $('#tab1').removeClass('div_unactive');
		    
		    $('#tab2').addClass("div_unactive");
		    $('#tab2').removeClass('div_active');		    
		    $('#tab3').addClass("div_unactive");
		    $('#tab3').removeClass('div_active');		    
		    $('#tab4').addClass("div_unactive");
		    $('#tab4').removeClass('div_active');
		    
		    $('#tab11').removeClass("div_unactive");
		    $('#tab11').addClass("div_active1");
		    
		});
		$('#Tab2').click(function() {
			$('#tab2').addClass("div_active");
		    $('#tab2').removeClass('div_unactive');
		    
		    $('#tab1').addClass("div_unactive");
		    $('#tab1').removeClass('div_active');
		    $('#tab3').addClass("div_unactive");
		    $('#tab3').removeClass('div_active');
		    $('#tab4').addClass("div_unactive");
		    $('#tab4').removeClass('div_active');
		    
		    $('#tab11').addClass("div_unactive");
		    $('#tab11').removeClass("div_active1");
		});
		$('#Tab3').click(function() {
			$('#tab3').addClass("div_active");
		    $('#tab3').removeClass('div_unactive');
		    
		    $('#tab1').addClass("div_unactive");
		    $('#tab1').removeClass('div_active');
		    $('#tab2').addClass("div_unactive");
		    $('#tab2').removeClass('div_active');
		    $('#tab4').addClass("div_unactive");
		    $('#tab4').removeClass('div_active');
		    
		    $('#tab11').addClass("div_unactive");
		    $('#tab11').removeClass("div_active1");
		});
		$('#Tab4').click(function() { 	
			$('#tab4').addClass("div_active");
		    $('#tab4').removeClass('div_unactive');
		    
		    $('#tab1').addClass("div_unactive");
		    $('#tab1').removeClass('div_active');
		    $('#tab2').addClass("div_unactive");
		    $('#tab2').removeClass('div_active');
		    $('#tab3').addClass("div_unactive");
		    $('#tab3').removeClass('div_active');
		    
		    $('#tab11').addClass("div_unactive");
		    $('#tab11').removeClass("div_active1");
		});
	});
	</script>

</html>

